/* Reset Css */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}
html {
    font-family: sans-serif;
    scroll-behavior: smooth;
}
body {
    max-width: 100%;
    margin: 0px auto;
}
.clear {
    clear: both;
}
.text-white {
    color: #fff !important;
}
.row {
    margin-left: -8px;
    margin-right: -8px;
}
.row::after
{
    display: block;
    content: "";
    clear: both;
}
.col {
    float: left;
    padding-left: 8px;
    padding-right: 8px;
}
.col-third {
    width: 33.33333%;
}
.col-half {
    width: 50%;
}
.text-center{
    text-align: center !important;
}
.border{
    border : 1px solid #ccc !important;
}

.display-flex {
    display: flex !important;
}
.padding-64
{
    padding-top: 64px !important;
    padding-bottom: 64px !important;
}
.padding-32
{
    padding-top: 32px !important;
    padding-bottom: 32px !important;
}

.btn {
    display: inline-block;
    color: #fff;
    background-color: #000;
    text-decoration: none;
    padding: 11px 16px;
    border: none;
    cursor: pointer;
}
.btn:hover {
    color: #000;
    background-color: #ccc;
}



#wrapper {

}

#header {
    color: #fff;
    background-color: #000;
    width: 100%;
    position: fixed;
    top: 0;
    height: 47px;
    z-index: 1;
}
#nav {
    display: inline-block;
   
}
#nav, .subnav{
    list-style-type: none;
}
#nav > li {
    display: inline-block;
    position: relative;
}
#nav > li > a {
    color: #fff;
    text-transform: uppercase;

}
#nav li a {
    text-decoration: none;
    display: block;
    line-height: 47px;
    padding: 0px 24px;
    font-size: 15px;
 
}

#nav > li:hover > a,
.subnav > li:hover a  {
    color: #000;
    background-color: #ccc;
}

.subnav li {
    width: 100%;
}

#nav .subnav {
    display: none;
    position:absolute;
    top: 100%;
    left: 0;
    min-width: 160px;
    background-color: #fff;
    box-shadow: 1px 1px 10px rgba(000, 000, 000,0.3)
}
#nav .subnav a {
    color: #000;
    padding: 0px 12px;
    line-height: 38px;
}
#nav li:hover .subnav{
    display: block;
}
#nav .nav-arrow-down{
    font-size: 14px;
}
#header .menu-btn,
#header .search-btn {
    float: right;
    padding: 0px 20px;
}
#header .menu-btn .menu-icon,
#header .search-btn .search-icon {
    color: #fff;
    font-size: 22px;
    line-height: 47px;
}
#header .menu-btn:hover,
#header .search-btn:hover{
    cursor: pointer;
    background-color: orange;
}




#slider {
    position: relative;


}
.slider-background {
    padding-top: 50%;
    margin-top: 47px;
}
#slider1 {
    display: block;
    background-image: url('/assets/img/Slider1/NewYork.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.slider1-content{
    position:absolute;
    bottom: 0;
    padding: 32px;
    width: 100%;
    /* left: 50%; */
    text-align: center;
    color: #fff;
    font-weight: 300;
}
#slider2 {
    display: none;
    background-image: url('/assets/img/Slider1/chicago.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

#slider3 {
    display: none;
    background-image: url('/assets/img/Slider1/la.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.slider1-title{
    margin-bottom: 25px;

}

#slider1-text{
    

}


#content {
    min-height: 1500px;

}
#content .section-content{
    width: 800px;
    max-width: 100%;
    padding: 64px 16px;
    margin: 0px auto;

}

#content .section-slogan,
#content .section-heading{
    text-align: center;

}

#content .section-heading{
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 4px;
    margin: 10px 0px;
}

#content .section-slogan{
    display: block;
    margin: 15px 0px;
    opacity: 0.6;

}
#content #about-text{
    text-align: justify;
    line-height: 1.4;
    margin-bottom: 15px;
}

#content #memberlist {
    padding-top: 32px;
    padding-left: 32px;
    
}


#content .member-name {
    font-size: 15px;
    margin: 15px 0px;
}
#content .member-img {
    width: 154px;
}

#tour-section {
    background-color: #000;
}

#tour-section .tour-list {
    background-color: #fff;
    color: #75757575;
    list-style: none;
}

#tour-section li {
    font-size: 15px;
    padding: 11px 16px;
    border-bottom: 1px solid #ddd;
}

#tour-section .sold-out {
    margin-left: 16px;
    padding: 3px 8px;
    color:#fff;
    background-color:  #f44336;
}
#tour-section .quantity {
    float: right;
    margin-right: 16px;
    padding: 2px 8px;
    background-color:  #000;
    color: #fff;
    border-radius: 50%;
    margin-top: -2px;
}

.place-list {
    margin-top: 32px;
    margin-bottom: 48px;
}


.place-list .place-item {
    float:left;
    width: 33.33333%;
    padding: 0px 8px;    
}

.place-list .place-item-img {
    width: 100%;
    display: block;
    
}
.place-list .place-item-img:hover{
    opacity: 0.6;
    
}

.place-list .place-item-content {
    background-color: #fff;
    padding: 16px;
    font-size: 15px;
}

.place-list .place-item-name {
    font-size: 15px;

}

.place-list .place-item-time {
    margin-top: 15px;
    
}

.place-list .place-item-description {
    margin: 15px 0px;
    line-height: 1.4;
}





div#modal {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    display: none;
    align-items: center;
    justify-content: center;
    animation: slidein ease .3s;
}

.modal-container {
    position: relative;
    background-color: #fff;
    width: 900px;
    max-width: 100%;
    min-height: 200px;
}

.modal-close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 16px;
    color: #fff;
    cursor: pointer;
}
.modal-close:hover {
    color: #000;
    background-color: #ccc;
}
.modal-heading {
    font-size: 30px;
    background-color: #009688;
    color: #fff;
    text-align: center;
    padding: 32px 0px;
}
.modal-heading > i {
    padding-right: 16px;
}
.modal-body {
    padding: 16px;
    display: block;
    font-size: 15px;
}
.modal-label {
    display: block;
    margin-bottom: 12px;
}
.modal-input {
    margin-bottom: 24px;
    font-size: 15px;
    padding: 15px;
    width: 100%;
}

button.pay-btn {
    width: 100%;
    background-color: #009688;
    border: none;
    color: #fff;
    font-weight: 600;
    font-size: 15px;
    padding: 18px 0px;
    cursor: pointer;
}
button.pay-btn:hover {
    color: #000;
    background-color: #ccc;
}
button i {
    margin-left: 5px;
}
.modal-footer{
    text-align: right;
    padding: 15px 16px 30px;
    
}
.modal-footer a {
    color: #2196F3;
}
@keyframes slidein {
    from {
        transform: translateY(-100px);
        opacity: 0.3;
      }
    to {
        transform: translateY(0px);
        opacity: 1;
      }
    
}
#contact .container-info{
    padding-top: 32px;
    padding-bottom: 32px;
}
#contact .contact-info{
    font-size: 18px;
    line-height: 1.7;

}
#contact .contact-icon {
    width: 30px;
    display: inline-block;
}
#contact .contact-from{
    font-size: 15px;
}
#contact .form-control{
    padding: 12px 0px;
    padding-left: 8px;
    width: 100%;
}

#contact .form-message{
    margin-top: 8px;
    width: 100%;
}
#contact .contact-submit{
    float:right;
    margin-top: 16px;
    margin-bottom: 16px;
}
.map-img{
    width: 100%;
}
#footer {
    font-size: 15px;
    color: rgba(0,0,0,0.5);
}
#footer a{
    color: rgba(0,0,0,0.5);
}
.footer-link > a{
    text-decoration: none;
}
#footer i {
    font-size: 24px;
}
#footer a:hover{
    color: rgba(0,0,0,0.3);
}
.footer-right{
    margin: 15px 0px;
}

#header .menu-btn{
    display: none;
}
/* Mobile : max-width < 739px */
@media screen and (max-width: 46.1875em){
    #content #about-text {
        line-height: 1.6;
    }
    #content .member-img,
    #content .member{
        width: 100%;
    }
    .place-list .place{
        width: 100%;
        margin-top: 8px;
    }
    #contact .contact-info {
        width: 100%;
    }
    #contact .input{
        width: 100%;
        margin-top: 32px;
    }

    #header{
        overflow: hidden;
    }

    #nav li {
        display: block;
    }
    .search-btn{
        display: none;
    }
    #header .menu-btn{
        display: block;
    }
    #header .menu-btn:hover::after{
        height: auto;
    }


}

/* Tablet :  min-width >= 740px and max-width < 1024px */
@media screen and  (min-width: 46.25em) and (max-width: 63.9375em) {
    #content .section-content {
        width: 100%;
        max-width: 100%;
        padding: 64px 16px;
        margin: 0px;
    }

    #content #about-text {
        text-align: justify;
        line-height: 1.4;
        margin-bottom: 15px;
    }
    #content .member-img{
        width: 100%;
    }


    .modal-container {
        width: calc(100% - 30%)
    }
}
/* PC : >= 1024px */
@media screen and (max-width: 64em) {

}